@model ProductQueryViewModel

@{
    ViewData["Title"] = "View Products";
}

<div class="catsummary" Model.Products>
    @foreach (var product in Model.Products)
    {
        <div class="categoryinfo">
            <div class="prodBox">
                <img src="@(product.ImageUrl)" class="prod_img_icon" alt="Alternate Text" />
            </div>
            <div class="category_title">
                <a asp-controller="Products"
                   asp-action="Details"
                   asp-route-id="@product.Id"
                   asp-route-name="@product.Name"
                   asp-route-desctiption="@product.Desctiption"
                   asp-route-price="@product.Price"
                   asp-route-imageurl="@product.ImageUrl"
                   asp-route-categoryid="@product.CategoryId"
                   class="btn btn-warning">@(product.Name)</a>
            </div>
            <div class="price_discounted">@product.Price</div>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-info float-left">Info</a>
                </div>
                <div class="col-md-6">
                    @*<input class="btn btn-outline-danger" type="submit" value="Buy" />*@
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Buy
                    </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add to Cart</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to add the selected product to the cart?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue shopping</button>
                                    <a class="btn btn-danger float-right"
                                       asp-controller="Cart" asp-action="Add"
                                       asp-route-id="@product.Id"
                                       asp-route-name="@product.Name"
                                       asp-route-price="@product.Price"
                                       asp-route-quantity="1">Buy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>